{% load static %}

{% block footer %}
    <!-- ===========================
       ///// Begin footer section /////
       ================================
       -->
    <section id="footer" class="footer-dark no-margin-top">
        <div class="footer-inner">
            <div class="footer-container tt-wrap">
                <div class="row">
                    <div class="col-sm-12 col-md-3">

                        <!-- Begin footer block (logo) -->
                        <div class="footer-block">
                            <div class="f-block-logo">
                                <!-- logo images for big screens -->
                                <a href="home.html" class="logo-dark"><img src="{% static 'img/logo-dark.png' %}"
                                                                           alt="logo"></a>
                                <a href="home.html" class="logo-light"><img src="{% static 'img/logo-light.png' %}"
                                                                            alt="logo"></a>

                                <!-- logo images for smaller screens -->
                                <a href="home.html" class="logo-dark-m"><img src="{% static 'img/logo-dark-m.png' %}"
                                                                             alt="logo"></a>
                                <a href="home.html" class="logo-light-m"><img src="{% static 'img/logo-light-m.png' %}"
                                                                              alt="logo"></a>
                            </div>
                        </div>
                        <!-- End footer block -->

                    </div> <!-- /.col -->

                    <div class="col-sm-4 col-md-2">

                        <!-- Begin footer block (links) -->
                        <div class="footer-block">
                            <h4 class="f-block-heading">Menu</h4>
                            <ul class="f-block-links">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'petcare-ads' %}">Search for a pet care</a></li>
                                <li><a href="{% url 'adoption-ads' %}">Publish pet to adopt</a></li>
                            </ul>
                        </div>
                        <!-- End footer block -->

                    </div> <!-- /.col -->

                    <div class="col-sm-4 col-md-2">

                        <!-- Begin footer block (social) -->
                        <div class="footer-block">
                            <h4 class="f-block-heading">Profile</h4>
                            <ul class="f-block-links">
                                <li><a href="{% url 'home' %}">Login</a></li>
                                <li><a href="{% url 'register' %}">Register</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                        <!-- End footer block -->

                    </div> <!-- /.col -->

                    <div class="col-sm-4 col-md-2">

                        <!-- Begin footer block (text) -->
                        <div class="footer-block">
                            <h4 class="f-block-heading">Contact</h4>
                            <div class="f-block-text">
                                <p>121 King Street, Melbourne, Australia</p>
                                <p>+123 456 789 000<br>
                                    <a href="mailto:info@youremail.com">info@youremail.com</a></p>
                            </div>
                        </div>
                        <!-- End footer block -->

                    </div> <!-- /.col -->

                    <div class="col-sm-12 col-md-3">

                        <!-- Begin footer block (text) -->
                        <div class="footer-block">
                            <h4 class="f-block-heading">Information disclosure</h4>
                            <div class="f-block-text padding-right-30">
                                PetParent is a assessment for Computer Science class.
                                Please do not use it to store your private data. The owner of the site takes no
                                responsibility for the data you store. PS. The background video comes from Denner ®️
                            </div>
                        </div>
                        <!-- End footer block -->

                    </div> <!-- /.col -->
                </div> <!-- /.row -->
            </div> <!-- /.footer-container -->

            <!-- Begin footer bottom -->
            <div class="footer-bottom">
                <div class="footer-container tt-wrap">
                    <div class="row">
                        <div class="col-md-6">

                            <!-- Begin footer copyright -->
                            <div class="footer-bottom-col-left">
                                &copy; Aivo / All rights reserved
                            </div>
                            <!-- End footer copyright -->

                        </div> <!-- /.col -->

                        <div class="col-md-6">

                            <div class="footer-bottom-col-right">
                                Design by: <a href="drzymala.dev" target="_blank">drzymala.dev</a>
                            </div>

                        </div> <!-- /.col -->

                    </div> <!-- /.row -->
                </div> <!-- /.footer-container -->
            </div>
            <!-- End footer bottom -->

        </div> <!-- /.footer-inner -->

        <!-- Scroll to top button -->
        <a href="#body" class="scrolltotop sm-scroll" title="Scroll to top"></a>

    </section>
    <!-- End footer section -->

{% endblock %}