{% load static %}

{% block header %}
    <!-- =================
    //// Begin header ////
    ======================
    -->
    <header id="header" class="header-show-hide-on-scroll menu-align-right">

        <!-- Begin header inner -->
        <div class="header-inner tt-wrap">

            <!-- Begin logo
            ================ -->
            <div id="logo">
                <!-- logo images for big screens -->
                <a href="{% url 'home' %}" class="logo-dark"><img src="{% static 'img/logo-dark.png' %}" alt="logo"></a>
                <a href="{% url 'home' %}" class="logo-light"><img src="{% static 'img/logo-light.png' %}"
                                                                   alt="logo"></a>

                <!-- logo images for smaller screens -->
                <a href="{% url 'home' %}" class="logo-dark-m"><img src="{% static 'img/logo-dark-m.png' %}" alt="logo"></a>
                <a href="{% url 'home' %}" class="logo-light-m"><img src="{% static 'img/logo-light-m.png' %}"
                                                                     alt="logo"></a>
            </div>
            <!-- End logo -->

            <!-- Begin header attributes (add/remove class "hide" to enable/disable header attributes without removing the code).
            ============================= -->
            <div class="header-attributes">
                <ul>

                    <!-- Begin header attributes search
                    ==================================================== -->
                    <li>
                        <a href="#" class="h-attr-search-trigger"><i class="fas fa-search"></i></a>
                        <div class="h-attr-search">
                            <div class="h-attr-search-inner">
                                <p class="h-attr-search-text">Search</p>
                                <form id="h-attr-search-form" class="form-btn-inside" method="get"
                                      action="search-results.html">
                                    <input type="text" id="h-attr-search-input" name="search"
                                           placeholder="Type your keywords ...">
                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </form>
                                <div class="h-attr-search-suggestions">
                                    <h3 class="h-attr-search-sugg-title">- May We Suggest?</h3>
                                    <!-- Random or most used tags. Note: maximum 20 suggestions/tags! -->
                                    <p><a href="">#love</a> <a href="">#funny</a> <a href="">#gifs</a> <a
                                            href="">#print</a>
                                </div>
                            </div> <!-- /.h-attr-search-inner -->
                            <div class="h-attr-search-close"><i class="tt-close-btn tt-close-light"></i>
                                <span>Close</span>
                            </div>
                        </div> <!-- /.h-attr-search -->
                    </li>
                    <!-- End header attributes search -->

                    <!-- Begin header attributes dropdown (languages)
                    ==================================================
                    -->
                    <li class="h-attr-dropdown-wrap h-attr-dropdown-master h-attr-lang h-attr-dropdown-dark h-attr-dropdown-right">
                        <a href="#0"><img src="{% static 'img/flags/gb.png' %}" alt="English">EN</a>
                        <ul class="h-attr-dropdown">
                            <li><a href="" title="English"><img src="{% static 'img/flags/gb.png' %}"
                                                                alt="English">EN</a></li>
                            <li><a href="" title="French"><img src="{% static 'img/flags/fr.png' %}" alt="French">FR</a>
                            </li>
                            <li><a href="" title="Deutsch"><img src="{% static 'img/flags/de.png' %}"
                                                                alt="Deutsch">DE</a></li>
                        </ul> <!-- /.h-attr-dropdown -->
                    </li>
                    <!-- End header attributes dropdown -->

                    <!-- Begin header attributes side panel holder
                    =============================================== -->
                    <li>
                        <!-- Begin header attributes side panel trigger -->
                        <a href="" id="h-attr-side-panel-trigger">
                            <span class="hide-from-md"><i class="fas fa-bars"></i></span>
                            <span class="hide-to-md"><i class="fas fa-ellipsis-v"></i></span>
                        </a>
                        <!-- End header attributes side panel trigger -->

                        <!-- Begin header attributes side panel -->
                        <div id="h-attr-side-panel">
                            <div class="h-attr-side-panel-inner">
                                <div class="h-attr-side-panel-close"><i class="tt-close-btn tt-close-light"></i></div>

                                <!-- Begin header attributes side panel widget -->
                                <div class="h-attr-side-panel-widget sp-text-box">
                                    <h4>- Petparent Info</h4>
                                    <p>Here you can find additional petparent info!</p>

                                    <p>You can visit my site: <a target="_blank"
                                                                 href="https://drzymala.dev">https://drzymala.dev</a>
                                    </p>
                                </div>
                                <!-- End header attributes side panel widget -->

                                <!-- Begin header attributes side panel widget -->
                                <div class="h-attr-side-panel-widget">
                                    <a target="_blank" href="https://drzymala.dev/" class="btn btn-primary btn-block">Check
                                        my website!</a>
                                    <p class="margin-top-15 small">Best developer ever!</p>
                                </div>
                                <!-- End header attributes side panel widget -->

                                <!-- Begin header attributes side panel widget -->
                                <div class="h-attr-side-panel-widget">

                                    <h5>Instagram:</h5>

                                    <!-- Begin thumbnail list
                                    ==========================
                                    * Use class "col-2", "col-3", "col-4" "col-5" or "col-6" for thumbnail list columns.
                                    * Use class "gutter-1", "gutter-2", "gutter-3", "gutter-4" or "gutter-5" to add more space between items.
                                    -->
                                    <ul class="thumb-list col-4 gutter-3">
                                        <li><a target="_blank" href="https://www.instagram.com"
                                               class="thumb-list-item bg-image lazy"
                                               data-src="{% static 'img/thumb-list/img-1.jpg' %}"></a></li>
                                        <li><a target="_blank" href="https://www.instagram.com"
                                               class="thumb-list-item bg-image lazy"
                                               data-src="{% static 'img/thumb-list/img-2.jpg' %}"></a></li>
                                    </ul>
                                    <!-- End thumbnail list -->

                                </div>
                                <!-- End header attributes side panel widget -->

                            </div> <!-- /.h-attr-side-panel-inner -->
                        </div>
                        <!-- End header attributes side panel -->

                    </li>
                    <!-- End header attributes side panel holder -->

                    <!-- Begin mobile menu toggle button (tt-main-menu) -->
                    <li>
                        <div id="tt-m-menu-toggle-btn">
                            <span></span>
                        </div>
                    </li>
                    <!-- End mobile menu toggle button -->

                    <!-- Begin header attributes button (disabled on smaller screens!) -->
                    <li class="hide-from-md">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="h-attr-button"> <span
                                    class="hide-from-lg">Logout {{ request.user }}</span>!</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="h-attr-button"><span
                                    class="hide-from-lg">Login</span>!</a>
                        {% endif %}
                    </li>
                    <!-- End header attributes button -->
                </ul>
            </div>
            <!-- End header attributes -->

            <!-- ====================
            //// Begin main menu ////
            ===================== -->
            <nav class="tt-main-menu">

                <!-- Collect the nav links for toggling
                ========================================
                -->
                <div class="tt-menu-collapse tt-submenu-dark">
                    <ul class="tt-menu-nav">

                        <!-- Begin submenu (submenu master)
                        ==================================== -->
                        <li class="tt-submenu-master">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <!-- End submenu (sub-master) -->

                        <!-- Begin submenu (submenu master)
                        ==================================== -->
                        <li class="tt-submenu-wrap tt-submenu-master">
                            <a href="{% url 'search' %}">Parent a pet</a>
                            <div class="tt-submenu">
                                <ul class="tt-submenu-list">
                                    <li><a href="{% url 'search' %}">Search for a pet</a></li>
                                    <li><a href="{% url 'publish' %}">Publish pet to adopt</a></li>
                                </ul> <!-- /.tt-submenu-list -->
                            </div> <!-- /.tt-submenu -->
                        </li>
                        <!-- End submenu (sub-master) -->

                        <!-- Begin submenu (submenu master)
                        ==================================== -->
                        <li class="tt-submenu-wrap tt-submenu-master">
                            <a href=''>Profile</a>
                            <div class="tt-submenu">
                                <ul class="tt-submenu-list">
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    <li><a href="{% url 'register' %}">Register</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                </ul> <!-- /.tt-submenu-list -->
                            </div> <!-- /.tt-submenu -->
                        </li>
                        <!-- End submenu (sub-master) -->

                    </ul> <!-- /.tt-menu-nav -->
                </div> <!-- /.tt-menu-collapse -->

            </nav>
            <!-- End main menu -->

        </div>
        <!-- End header inner -->

    </header>
    <!-- End header -->
{% endblock %}