{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>


<html lang="en">
<head>

    <!-- Title -->
    <title>Adoption Advertisement - Petparent</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive multipurpose pet hotel care adopt portal HTML website">
    <meta name="keywords" content="HTML5, CSS3, Trainer, Responsive, Multipurpose, Pets"/>
    <meta name="author" content="drzymala.dev">

    {% include 'blocks/header-imports.html' %}

</head>


<!-- ===========
///// Body /////
================
    -->
<body id="body" class="animsition tt-boxed">

<!-- =================
//// Begin header ////
======================
-->
{% include 'blocks/header.html' %}
<!-- End header -->

<!-- *************************************
*********** Begin body content ***********
************************************** -->
<div id="body-content">


    <!-- ==========================
    ///// Begin publishing section /////
    =========================== -->
    <section id="login-section">
        <div class="login-section-inner tt-wrap max-width-1000">
            <div class="row">

                <!-- Left column -->
                <div class="col-sm-12 margin-bottom-30">

                    <!-- Begin publishing box
                    ===================== -->
                    <div class="login-box">
                        <div style="display: flex; flex-direction: row; justify-content: space-between; padding-bottom: 15px; border-bottom: 1px solid lightgrey">
                            <div>
                                <span style="font-size: 24px; font-weight: 700">{{ advert.title }}</span> | <small> Author: {{ advert.author.username }}</small> <br>
                                <small>{{ advert.date_posted|date:"d M Y, P" }}</small>
                            </div>
                            <a href="{% url 'adoption-ads' %}" class="btn btn-primary margin-top-5 margin-right-10">Adopt now</a>
                        </div>
                        <div class="offer-detail" style="margin-top: 25px">
                            {% if advert.photo.url %}
                                <div style="display: flex; flex-direction: row">
                                    <div style="display: flex; flex-direction: column; align-items: center">
                                        <p style="width: 100%"><strong>Contact information: </strong></br>
                                            Tel.: {{ advert.contact_info }}, adres: {{ advert.location }}</p>
                                        <p style="width: 100%"><strong>Offer description: </strong></br>
                                            {{ advert.offer_description }}</p>
                                        <p style="width: 100%"><strong>Animal description: </strong></br>
                                            {{ advert.animal_description }}</p>
                                    </div>
                                    <img style="height: 300px" src="{{ advert.photo.url }}" alt="pet photo">
                                </div> </br>
                            {% else %}
                                <p>{{ advert.offer_description }}</p> </br>
                            {% endif %}
                        </div>
                    </div>
                    <!-- End publishing box -->

                </div> <!-- /.col -->

            </div> <!-- /.row -->
        </div> <!-- /.login-section-inner -->
    </section>
    <!-- End publishing section -->

    <!-- ===========================
   ///// Begin footer section /////
   ================================
   -->
    {% include 'blocks/footer.html' %}
    <!-- End footer section -->

</div>
<!-- End body content -->


<!-- ====================
///// Scripts below /////
===================== -->
{% include 'blocks/js-scripts.html' %}

</body>
</html>
