{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>


<html lang="en">
<head>

    <!-- Title -->
    <title>Login - Petparent</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive multipurpose pet hotel care adopt portal HTML website">
    <meta name="keywords" content="HTML5, CSS3, Trainer, Responsive, Multipurpose, Pets"/>
    <meta name="author" content="drzymala.dev">

    {% include 'blocks/header-imports.html' %}

</head>


<!-- ===========
///// Body /////
================
    -->
<body id="body" class="animsition tt-boxed">

<!-- =================
//// Begin header ////
======================
-->
{% include 'blocks/header.html' %}
<!-- End header -->

<!-- *************************************
*********** Begin body content ***********
************************************** -->
<div id="body-content">


    <!-- ==========================
    ///// Begin login section /////
    =========================== -->
    <section id="login-section">
        <div class="login-section-inner tt-wrap max-width-1000">
            <div class="row">

                <!-- Left column -->
                <div class="col-sm-6 margin-bottom-30">

                    <!-- Begin login box
                    ===================== -->
                    <div class="login-box">
                        <div class="login-box-inner">

                            <!-- Begin login box content -->
                            <div class="login-box-content">
                                <h3><i class="fas fa-unlock-alt"></i> Log In</h3>

                                <!-- Begin login form -->
                                <form id="login-form" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {% for message in messages %}
                                            <div class="alert  alert-warning" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                        <label for="username">Username or Email Address:</label>
                                        <input type="text" class="form-control" id="username" name="username"
                                               placeholder="Enter your username" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               placeholder="Enter your password" required>
                                    </div>

                                    <div class="checkbox-styled form-group no-margin-bottom">
                                        <label>
                                            <input name="rememberme" type="checkbox" id="rememberme" value="forever">
                                            <span class="box"></span> Remember Me
                                        </label>
                                    </div>

                                    <div><a href="{% url 'lostpassword' %}" class="login-box-link margin-top-15">Lost
                                        your password?</a></div>
                                    <div><a href="{% url 'register' %}"
                                            class="login-box-link margin-top-15">Sign up!</a></div>
                                    <button type="submit" class="btn btn-primary btn-block margin-top-25">Log In
                                    </button>
                                </form>
                                <!-- End login form -->

                                <!-- Begin login with social -->
                                <div class="login-with-social">
                                    <a href="#" class="btn btn-social btn-facebook btn-block">
                                        <span class="btn-social-icon"><i class="fab fa-facebook-f"></i></span> Log in
                                        with Facebook
                                    </a>
                                    <a href="#" class="btn btn-social btn-twitter btn-block margin-top-10">
                                        <span class="btn-social-icon"><i class="fab fa-twitter"></i></span> Log in with
                                        Twitter
                                    </a>
                                </div>
                                <!-- End login with social -->

                            </div>
                            <!-- End login box content -->

                        </div> <!-- /.login-box-inner -->

                    </div>
                    <!-- End login box -->

                </div> <!-- /.col -->

            </div> <!-- /.row -->
        </div> <!-- /.login-section-inner -->
    </section>
    <!-- End login section -->

    <!-- ===========================
   ///// Begin footer section /////
   ================================
   -->
    {% include 'blocks/footer.html' %}
    <!-- End footer section -->

</div>
<!-- End body content -->


<!-- ====================
///// Scripts below /////
===================== -->
{% include 'blocks/js-scripts.html' %}


</body>

</html>