{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>


<html lang="en">
<head>

    <!-- Title -->
    <title>Publish Advertisement - Petparent</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive multipurpose pet hotel care adopt portal HTML website">
    <meta name="keywords" content="HTML5, CSS3, Trainer, Responsive, Multipurpose, Pets"/>
    <meta name="author" content="drzymala.dev">

    {% include 'blocks/header-imports.html' %}

</head>


<!-- ===========
///// Body /////
================
    -->
<body id="body" class="animsition tt-boxed">

<!-- =================
//// Begin header ////
======================
-->
{% include 'blocks/transparentheader.html' %}
<!-- End header -->

<!-- *************************************
*********** Begin body content ***********
************************************** -->
<div id="body-content">


    <!-- ==========================
    ///// Begin publishing section /////
    =========================== -->
    <section id="login-section">
        <div class="login-section-inner tt-wrap max-width-1000">
            <div class="row">

                <!-- Left column -->
                <div class="col-sm-12 margin-bottom-30">

                    {% for advert in adverts %}
                        <div style="border: 1px solid lightgrey; padding: 10px 5px 0 5px; border-radius: 10px; margin-bottom: 7px">
                            <a href="{% url 'petcare-detail' advert.pk %}"><span style="font-weight: 700">{{ advert.title }}</span></a>  |
                            <small>{{ advert.author.username }}</small>
                            <small>{{ advert.date_posted|date:"d M Y, P" }}</small> <br>
                            <p>{{ advert.offer_description|truncatewords:21 }}</p>
                            <a style="font-size: 13px; color: #3f729b" href="{% url 'petcare-detail' advert.pk %}">Read more</a>
                        </div>
                    {% endfor %}

                </div> <!-- /.col -->

            </div> <!-- /.row -->
        </div> <!-- /.login-section-inner -->
    </section>
    <!-- End publishing section -->

    <!-- ===========================
   ///// Begin footer section /////
   ================================
   -->
    {% include 'blocks/footer.html' %}
    <!-- End footer section -->

</div>
<!-- End body content -->


<!-- ====================
///// Scripts below /////
===================== -->
{% include 'blocks/js-scripts.html' %}

</body>
</html>
