{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>


<html lang="en">
<head>

    <!-- Title -->
    <title>Register - Petparent</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive multipurpose pet hotel care adopt portal HTML website">
    <meta name="keywords" content="HTML5, CSS3, Trainer, Responsive, Multipurpose, Pets"/>
    <meta name="author" content="drzymala.dev">

    {% include 'blocks/header-imports.html' %}

</head>


<!-- ===========
///// Body /////
================
-->
<body id="body" class="animsition tt-boxed">

{% include 'blocks/header.html' %}

<!-- *************************************
*********** Begin body content ***********
************************************** -->
<div id="body-content">


    <!-- =============================
    ///// Begin register section /////
    ============================== -->
    <section id="register-section">
        <div class="register-section-inner tt-wrap">
            <div class="row">

                <!-- Left column -->
                <div class="col-md-8 margin-bottom-30">

                    <!-- Begin register box
                    ======================== -->
                    <div class="register-box">
                        <div class="register-box-inner">

                            <!-- Begin register box content -->
                            <div class="register-box-content">
                                <h2><i class="fa fa-plug"></i> Register an Account</h2>
                                <p>Insert your data and create ypur PetParent profile!</p>
                                <em class="small">Note: all fields are required!</em>
                                <hr>

                                <!-- Begin register form -->
                                <form id="register-form" method="POST" action="">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="email">Your email:</label>
                                                {% render_field form.email|add_required_class:"is-required" class+="form-control" %}
                                            </div>
                                        </div> <!-- /.col -->
                                    </div> <!-- /.row -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label for="role">Your role:</label>
                                            <div class="form-group" onchange="showDiv('hidden_div')">
                                                {% render_field form.role class+="form-control" %}
                                            </div>
                                        </div> <!-- /.col -->
                                    </div> <!-- /.row -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="username">Choose your username:</label>
                                                {% render_field form.username|add_required_class:"is-required" class+="form-control" %}
                                            </div>
                                        </div> <!-- /.col -->
                                    </div> <!-- /.row -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="password">Choose your password:</label>
                                                {% render_field form.password1|add_required_class:"is-required" class+="form-control" type="password" %}
                                            </div>
                                        </div> <!-- /.col -->
                                    </div> <!-- /.row -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="re-enter-password">Confirm password:</label>
                                                {% render_field form.password2|add_required_class:"is-required" class+="form-control" type="password" %}
                                            </div>
                                        </div> <!-- /.col -->
                                    </div> <!-- /.row -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="checkbox-styled form-group">
                                                <label>
                                                    <input type="checkbox" id="privacypolicy" name="privacypolicy"
                                                           required>
                                                    <span class="box"></span> Accept our <a
                                                        href="page-dummy-classic-sidebar-right.html" target="_blank">privacy
                                                    policy</a> and <a href="page-dummy-classic-sidebar-right.html"
                                                                      target="_blank">customer agreement</a>
                                                </label>
                                            </div>
                                        </div> <!-- /.col -->
                                    </div> <!-- /.row -->

                                    <div>
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        <a href="{% url 'login' %}"
                                           class="register-box-link margin-top-15">Already have an account? Login!</a>
                                    </div>

                                    <button type="submit" class="btn btn-primary margin-top-15">Register</button>
                                </form>
                                <!-- End register form -->

                            </div>
                            <!-- End register box content -->

                        </div> <!-- /.register-box-inner -->

                    </div>
                    <!-- End register box -->

                </div> <!-- /.col -->

            </div> <!-- /.row -->
        </div> <!-- /.login-section-inner -->
    </section>
    <!-- End login section -->

    <!-- ===========================
   ///// Begin footer section /////
   ================================
   -->
    {% include 'blocks/footer.html' %}

</div>
<!-- End body content -->


<!-- ====================
///// Scripts below /////
===================== -->
{% include 'blocks/js-scripts.html' %}

</body>

</html>